{% extends 'base.html' %} {% block title %} {{ lugar.name }} ({{
    lugar.description }} {% endblock title %} {% block content %}
    <h2>Detalhes de {{ lugar.name }} </h2>
    
    <section class="dados-de-lugar">
      <img src="{{ lugar.poster_url }}" alt="Imagem de {{ lugar.name}}" />
      <ul>
        <li>Nome: {{ lugar.name }} - {{ lugar.description }}</li>
        <li>Sobre: {{ lugar.content }}</li>
        <hr>
        <li>Data de post: {{ lugar.creation_date }}</li>
        <hr>
        <li><a href="{% url 'lugares:update' lugar.id %}">Editar</a></li>
        <li><a href="{% url 'lugares:delete' lugar.id %}">Apagar</a></li>
      </ul>
    </section>

    <hr>

    <section> 
      {% if lugar.category_set.all %}
          <li>Incluso nas categorias: {{ lugar.category_set.all|join:", " }} </li>
      {% endif %}
    </section>


    <header>
        <h3>Resenhas</h3>
    </header>
    <ul>
        {% if lugar.comment_set.all %}
            {% for comment in lugar.comment_set.all %}
                <figure>
                    <blockquote>
                        "{{ comment.text }}"
                    </blockquote>
                    <figcaption>—{{ comment.author }} em {{ comment.date }}</figcaption>
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhum comentário para esse lugar.</p>
        {% endif %}
    </ul>
    <a href="{% url 'lugares:comment' lugar.pk %}"><button>Crie seu comentário</button></a>
</section>


{% endblock content %}