{% extends 'base.html' %} {% block title %} {{ lugar.name }} ({{
    lugar.description }} {% endblock title %} {% block content %}
    <h2>Detalhes de {{ lugar.name }} </h2>
    
    <section class="dados-de-lugar">
      <img src="{{ lugar.poster_url }}" alt="Imagem de {{ lugar.name}}" />
      <ul>
        <li>Nome: {{ lugar.name }} - {{ lugar.description }}</li>
        <li>Sobre: {{ lugar.content }}</li>
        <hr>
        <li>Data de post: {{ lugar.creation_date }}</li>
      </ul>
    </section>
    
    {% endblock content %}